src/.vs/
src/packages/
src/Sitecore.Bootcamp/bin/
src/Sitecore.Bootcamp/obj/
src/Sitecore.Bootcamp/Files.zip
src/Sitecore.Bootcamp.Shell/obj/
src/Sitecore.Bootcamp.Shell/bin/
src/Sitecore.Bootcamp.Shell/Files.zip
*.suo
*.user
src/Sitecore.Bootcamp.Core/bin/
src/Sitecore.Bootcamp.Core/obj/
*.pubxml
src/Sitecore.Bootcamp.SampleSite/bin/
src/Sitecore.Bootcamp.SampleSite/obj/
src/Sitecore.Bootcamp.Core.UnitTests/obj/
src/Sitecore.Bootcamp.Core.UnitTests/bin/
src/Sitecore.Bootcamp.SampleSite/App_Data/license.xml
