<!-- DO NOT CHANGE OR MODIFY THIS FILE, USE /Web_Config/Include FOLDER TO PATCH /web.config INSTEAD -->
<configuration>
  <system.webServer>
    <modules>
      <add name="Sitecore-Bootcamp" type="Sitecore.Bootcamp.HttpModule, Sitecore.Bootcamp"/>
    </modules>
  </system.webServer>
</configuration>